# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

# some basic default values...

inventory	= /home/ba1ag/PycharmProjects/wordpress_vault/inventory/hosts
#interpreter_python = /home/ba1ag/PycharmProjects/wordpress/python/bin/python3
sudo_user      = root
#ask_sudo_pass = True
ask_pass      = True
vault_password_file = /home/ba1ag/PycharmProjects/wordpress_vault/pass

# uncomment this to disable SSH key host checking
host_key_checking = False

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
remote_user = root

[inventory]

[privilege_escalation]
become=True
#become_method=sudo
#become_user=root
#become_ask_pass=True

[paramiko_connection]

[ssh_connection]

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
